<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p><a href="/createproduct/">CREATE PRODUCT</a> <a href="/index/">HOME</a></p>
	<table border="2">
		<tr>
			<td>ID</td>
			<td>NAME</td>
			<td>OPERATION 1</td>
			<td>OPERATION 2</td>
		</tr>
		{% for pro in object_list %}
		<tr>
			<td>{{ pro.id }}</td>
			<td>{{ pro.name }}</td>
			<td><a href="/updateproduct/{{ pro.id }}">UPDATE</a></td>
			<td><a href="/deleteproduct/{{ pro.id }}">DELETE</a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>